<h1 class="favoritesHeader">Here Are Your Favorites</h1>

{{#if message}}
    <h3>{{message}}</h3>
{{/if}}

<div class="favoritesOrganizer">
    {{#each foundfighters }}
    <div class="favoritesBackground">
        <h3 class="fighterName"> {{ this.name }} </h3>
        <p class="fighterDescription">{{this.description}}</p>
        <img class="fighterIMG" src="{{imageUrl}}" alt="fighter image">


        <form action="/fighter/{{_id}}/edit-favorites" method="get">
        <div class="editButton">
            <button class="editButtonText" type="submit">Edit</button>
        </div>
        </form>

        <form action="/fighter/{{_id}}/delete" method="post">
        <div class="deleteButton">
            <button class="deleteButtonText" type="submit">Delete</button>
        </div>
        </form>
    </div>
    {{/each}}
</div>
