
<h1 class="header">Schedule</h1>

<div class="eventOrganizer">
{{#each foundSchedule}}
<div class="event-background">
    <h2 class="eventTitle">{{eventDescription}}</h2>
    {{#each fights}}
    <div class="fight-header">
        <p>{{description}}:</p>
        <hr class="hr-line">
    </div>

<div class="fighter-organizer">
    <div class="fighter-odds-organizer">
        <div class="fighter-name">
        <p>{{fighter1}}</p> 
        </div>

        <div class="betting-odds">
        <p class="odds-space">Odds:   {{moneyLine1}}</p>
        </div>
    </div>
    
    <div class="fighter-odds-organizer">
        <div class="fighter-name">
        <p>{{fighter2}}</p>
        </div>

        <div class="betting-odds">
        <p class="odds-space">Odds:   {{moneyLine2}}</p>
        </div>
    </div>
    
</div>
    <hr class="hr-fight-splitter">
    {{/each}} 
</div>
{{/each}}
</div>